/********************************************************************

 ********************************************************************/

@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@700;900&family=Manrope:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

:root {
  --bg-green-color: #b9ec4c;
  --bg-pink-color: #fcb9d5;
  --primary-color: #f3f3ff;
  --secondary-color: #000000;
  --fs-xl: 5em;
  --fs-l: 2em;
  --fs-sl: 2.25em;
  --fs-m: 1.65em;
  --fs-sm: 1.25em;
  --fs-n: 1em;
  --fw-thin: 300;
  --fw-normal: 400;
  --fw-semi: 600;
  --border-rl: 0.5em;
  --border-rs: 0.2em;
  --img-circle: 50%;
}

html {
  scroll-behavior: smooth;
}

/*#region [general]*/
body {
  font-family: "Manrope", sans-serif;
  font-size: var(--fs-n);
  font-weight: var(--fw-normal);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  padding: var(--border-rl);
  gap: calc(var(--fs-sl) + 0.35em);
}

.flex-container {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-thin);
  color: var(--primary-color);
  line-height: calc(var(--fs-n) + 0.25em);
}

h2 {
  font-size: var(--fs-m);
  font-weight: var(--fw-normal);
  color: var(--primary-color);
  line-height: calc(var(--fs-m) + 0.3em);
  margin: 0px 0px var(--border-rl) 0px;
  text-align: center;
}

iframe {
  border: none;
  border-radius: var(--border-rl);
}

.hamburger-button {
  display: none;
  cursor: pointer;
  border: none;
  padding: 0.4625em;
  border-radius: 50%;
  background-color: var(--bg-green-color);
  width: min-content;
  height: min-content;
}

.hamburger-button span {
  display: block;
  width: 1.5625em;
  height: 3px;
  background: var(--secondary-color);
  margin: 2px 0;
}

.hide-div {
  display: none;
}

.show-div {
  display: flex;
}

/*#endregion*/

/*#region [headerl]*/
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.75em 1em;
  height: 3rem;
  z-index: 99999;
  background-color: transparent;
  background-image: none;
}

.logo h1 {
  font-family: "Anybody";
  color: var(--bg-green-color);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  padding: 0;
}

.logo h1 a,
.logo h1 a:visited {
  text-decoration: none;
  color: var(--bg-green-color);
  display: block;
  cursor: pointer;
}

.logo img {
  width: 70%;
  vertical-align: middle;
  margin-top: -0.8rem;
}

/*#endregion */

/*#region [navbar]*/
.navbar {
  display: flex;
  justify-content: space-between;
  height: var(--fs-sl);
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 0.625em;
  list-style: none;
}

.navbar ul li {
  display: flex;
  align-items: center;
  border: rgba(22, 24, 24, 0.7) solid 1px;
  border-radius: calc(var(--fs-sl) + 0.75em);
  font-size: 0.9em;
  font-weight: var(--fw-thin);
  text-transform: uppercase;
  letter-spacing: -0.2px;
  color: var(--primary-color);
  line-height: calc(var(--fs-sl) + 0.25em);
  padding: 0.375em var(--fs-n);
  height: calc(var(--fs-m) + 0.25em);
  background-color: rgba(22, 24, 24, 0.7);
}

.navbar ul li a {
  color: var(--primary-color);
  text-decoration: none;
}

.navbar ul li:hover {
  opacity: 0.9;
  background-color: #000000;
  border: 1px solid var(--bg-green-color);
}

.invert-btn-navbar {
  background-color: var(--bg-green-color);
  cursor: pointer;
  font-weight: var(--fw-semi) !important;
  padding: 0.175em var(--fs-n) !important;
  margin-top: -0.2em;
}

.hero-welcome {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0;
  justify-content: space-between;
  align-items: center;
  height: 100dvh;
  background-color: var(--secondary-color);
}

.scrolled {
  background-image: none;
  background-color: var(--secondary-color);
  opacity: 0.9;
  mix-blend-mode: luminosity;
}

.on-single-modal {
  background-image: none;
  background-color: #000000;
}

.welcome-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 50%;
  height: 100%;
  gap: 0.25em;
  z-index: 900;
}

.welcome-intro img {
  width: 30%;
  height: auto;
  margin: 0 auto;
  animation: floating 5.33s infinite ease-in-out;
}

@keyframes floating {
  0% {
    transform: translateY(0em);
  }

  50% {
    transform: translateY(0.75em);
  }

  100% {
    transform: translateY(0em);
  }
}

.welcome-intro h2 {
  font-family: "Anybody";
  font-size: 7.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  line-height: 0.75rem;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--bg-green-color);
}

.welcome-intro p {
  font-size: 1.025rem;
  font-weight: var(--fw-normal);
  line-height: var(--fs-n);
  padding: 0.5rem;
  text-align: center;
  color: var(--bg-green-color);
}

/*#endregion*/

/*#region [discos-intro]*/
/*.row-for-discos {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.row-disquitos {
    display: flex;
    align-items: center;
    margin-bottom: 10px !important;
    line-height: 1;
    flex: 0 0 100%;
    max-width: 100%;
    overflow: hidden;
}

.row-disquitos-label {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
}

.row-disquitos-label img {
    flex-shrink: 0;
    margin-left: -7.5em;
    height: auto;
    width: 15em;
    border-radius: var(--img-circle);
    display: inline-block;
    max-width: 100%;
    animation: rotateDisco 10.66s linear infinite;
}*/

/* test disquitos carousel */

.row-for-discos {
  position: absolute;
  left: 100%;
  transform: translate(-100%);
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.row-disquitos {
  animation: rotateDisco 45s linear infinite;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  left: 50%;
  position: absolute;
}

.disquito-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 14rem;
  height: 14rem;
  pointer-events: none;
  padding: 1rem;
}

.disquito-01 {
  transform: translate(0.5rem, -0.5rem);
}
.disquito-02 {
  transform: translate(-5rem, 13.5rem);
}
.disquito-03 {
  transform: translate(-1.5rem, 27rem);
}
.disquito-04 {
  transform: translate(10rem, 35rem);
}
.disquito-05 {
  transform: translate(24.5rem, 30.5rem);
}
.disquito-06 {
  transform: translate(32.5rem, 17.5rem);
}
.disquito-07 {
  transform: translate(27.5rem, 2rem);
}
.disquito-08 {
  transform: translate(14.5rem, -5.5rem);
}

.row-disquitos-label img {
  flex-shrink: 0;
  height: auto;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: var(--img-circle);
  display: inline-block;
  max-width: 100%;
  animation: rotateDisco 10.66s linear infinite;
  vertical-align: middle;
}

/*#endregion*/

/*#region [crate]*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  height: 37.5em;
  border: 1px var(--primary-color) solid;
  border-top-left-radius: var(--border-rl);
  border-top-right-radius: var(--border-rl);
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 20%;
  gap: var(--fs-n);
  background-color: var(--bg-green-color);
  border-top-left-radius: var(--border-rl);
  border-top-right-radius: var(--border-rl);
}

.hero .hero-text h2 {
  font-size: var(--fs-sl);
  font-weight: var(--fw-semi);
  color: var(--primary-color);
  line-height: var(--fs-sm);
  text-transform: uppercase;
}

.hero .hero-text p {
  font-size: var(--fs-n);
  font-weight: var(--fw-normal);
}

.hero .hero-crate {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 80%;
  padding-top: 2%;
  overflow: hidden;
}

.hero .hero-crate .single-cover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 94%;
  height: calc(var(--fs-xl) - 1em);
  padding: 0.375em;
  background-size: cover;
  transform: none;
  transform-style: preserve-3d;
}

.hero .hero-crate .single-cover img {
  width: 100%;
  border-radius: 0;
  transform: none;
  transform-style: preserve-3d;
}

.hero .hero-crate .single-cover h2 {
  font-family: "Anybody";
  font-size: 2.0375em;
  font-weight: var(--fw-normal);
  line-height: 1.375em;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.2px;
  text-align: start;
  border-radius: 0.1em;
}

.hero .hero-crate .single-cover span {
  font-size: 1.0375em;
  font-weight: var(--fw-normal);
  line-height: calc(var(--fs-m));
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 0.2px;
  text-align: end;
  background-color: var(--primary-color);
  height: fit-content;
  padding: 0.125em 0.225em;
  border-radius: var(--border-rs);
  opacity: 0.8;
}

.hero .hero-crate .single-cover:first-child {
  background-color: #f0c418;
  height: calc(var(--fs-xl) + 7em);
  z-index: 500;
}

.hero .hero-crate .single-cover:hover {
  transform: scaleY(1.2);
  transform-origin: bottom;
  cursor: grabbing;
  z-index: 99990;
  transition: 0.1s ease-in-out;
}

.hero .hero-crate .single-cover:first-child:hover {
  height: calc(var(--fs-xl) + 11em);
  transition: 0.1s ease-in-out;
  transform-style: preserve-3d;
  transform: none;
}

.hero .hero-crate .single-cover:nth-child(2) {
  background-color: #65ddb9;
  width: 86%;
}

.hero .hero-crate .single-cover:nth-child(2):hover {
  height: calc(var(--fs-xl) + 3em);
  transition: 0.1s ease-in-out;
  transform-style: preserve-3d;
  transform: none;
}

.hero .hero-crate .single-cover:nth-child(3) {
  background-color: #fa7b76;
  width: 78%;
}

.hero .hero-crate .single-cover:nth-child(3):hover {
  height: calc(var(--fs-xl) + 4em);
  transition: 0.1s ease-in-out;
  transform-style: preserve-3d;
  transform: none;
}

.hero .hero-crate .single-cover:last-child {
  background-color: #2fa8cc;
  width: 70%;
}

.hero .hero-crate .single-cover:last-child:hover {
  height: calc(var(--fs-xl) + 2.5em);
  transition: 0.1s ease-in;
  transform-style: preserve-3d;
  transform: none;
}

/*#endregion*/

/*#region [boxes]*/
.boxes {
  padding: 0.5em;
  border-radius: var(--border-rl);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  justify-content: space-between;
  gap: var(--fs-m);
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33.3% - var(--fs-n));
  background-color: #242424;
  padding: 1em;
  border-radius: 0.75em;
}

.box h3 {
  font-size: var(--fs-sm);
  font-weight: var(--fw-thin);
  color: #f0f0f0;
  line-height: var(--fs-sm);
  margin-bottom: 0.7em;
}

.box p,
.search-recommendation {
  font-size: var(--fs-n);
  font-weight: var(--fw-thin);
  color: #b6b6b6;
  line-height: var(--fs-m);
  padding-right: var(--border-rl);
}

.hero-search {
  padding: calc(var(--fs-xl) - var(--border-rl));
  display: none;
}

/*#endregion*/

/*#region [search]*/
.search {
  padding-top: calc(var(--fs-sl) + 0.5em);
  background-color: var(--secondary-color);
  border-radius: 2em;
  border: 1px solid var(--secondary-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 calc(var(--fs-xl) - 0.5em);
  border-radius: 2em;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  gap: var(--border-rl);
}

form input[type="text"] {
  width: 100%;
  padding: 0.75em var(--fs-n) var(--fs-n) var(--fs-n);
  border: 1px solid #171717;
  border-radius: 2em;
  font-size: var(--fs-sm);
  font-weight: var(--fw-thin);
  line-height: calc(var(--fs-sm) + 0.5em);
  background-color: rgba(22, 24, 24, 0.7);
  color: #b6b6b6;
}

form input[type="text"]:focus,
form input[type="text"]:focus-visible,
form input[type="text"]:active {
  background-color: #f0f0f0;
  color: var(--secondary-color);
}

.search-recommendation {
  text-wrap: balance;
  margin-bottom: var(--border-rl);
  text-align: center;
}

form .form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em auto;
  gap: var(--fs-n);
}

form .radio-group {
  display: flex;
  gap: 0.625em;
}

form .radio-group input[type="radio" i] {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid var(--secondary-color);
  font-size: 1em;
  font-weight: var(--fw-thin);
  line-height: var(--fs-sm);
}

form .radio-group label {
  font-size: 1.25em;
  font-weight: var(--fw-thin);
  line-height: calc(var(--fs-n) + 0.5em);
  display: inline;
  color: #b6b6b6;
}

form select {
  padding: 0.675em;
  background-color: rgba(22, 24, 24, 0.7);
  color: var(--bg-green-color);
  border: 1px solid #171717;
  border-radius: 2em;
  font-size: var(--fs-n);
  font-weight: var(--fw-thin);
  line-height: var(--fs-n);
  text-align: center;
  text-transform: uppercase;
}

form button {
  background-color: rgba(22, 24, 24, 0.7);
  font-size: var(--fs-n);
  font-weight: var(--fw-thin);
  text-transform: uppercase;
  line-height: var(--fs-n);
  color: var(--bg-green-color);
  padding: 0.85em 1.75em;
  border: 1px solid #171717;
  border-radius: 2em;
  cursor: pointer;
}

.hero-btn-start {
  align-self: flex-start;
  margin-left: 1.75em;
  background-color: var(--bg-green-color);
  color: var(--bg-primary-color);
  border: 1px solid var(--bg-green-color);
  font-family: "Anybody";
  font-size: var(--fs-n);
  font-weight: 600;
  color: rgba(22, 24, 24, 0.7);
  padding: 0.85em 1.75em;
  border-radius: 2em;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.hero-btn-start:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--bg-green-color);
  transform: translateY(-0.25em);
  color: #000000;
}

form button:hover {
  background-color: var(--bg-primary-color);
  color: #f0f0f0;
  border: 1px solid var(--bg-green-color);
}

/*#endregion*/

/*#region [results]*/
/* discos flex */
#results {
  background-color: var(--secondary-color);
  /*background-image: url('./../img/dirty-old-black-shirt.png');*/
  padding: var(--fs-n);
  border-radius: var(--border-rl);
  display: none;
}

.disco-filters {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  width: max-content;
  align-items: center;
  background-color: #121212;
  gap: 0.5em;
  border-radius: 1.5em;
  margin: 0 auto;
}

.disco-filters button {
  padding: 0.5em 0.75em;
  border: 1px solid #b6b6b630;
  border-radius: 2em;
  font-size: 0.875em;
  text-transform: uppercase;
  color: #b6b6b688;
  background: #171717;
  cursor: pointer;
}

.disco-filters button:hover {
  background-color: #000000;
  border: solid 1px var(--bg-green-color);
  color: var(--primary-color);
}

.discos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--fs-n);
  margin-top: 1.5em;
}

.disco {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.375em;
  flex-basis: calc(33.3% - var(--fs-n));
  background-color: #242424;
  border: 1px solid #242424;
  border-radius: var(--border-rl);
}

.disco a:hover {
  background-color: var(--bg-green-color);
  border-top-left-radius: var(--border-rl);
  border-top-right-radius: var(--border-rl);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.disco img {
  display: flex;
  width: 99%;
  height: 99%;
  border-radius: var(--img-circle);
  margin: 0 auto;
  padding: 1.3em;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  background-color: transparent;
}

.disco img:hover {
  animation: rotateDisco 10.66s linear infinite;
}

@keyframes rotateDisco {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.disco-info {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-grow: 1.5;
  row-gap: 0.25em;
  flex-wrap: wrap;
  background-color: #242424;
  padding: 0.25em var(--border-rl) 0.25em var(--border-rl);
  border-top: 1px solid #171717;
  border-bottom-left-radius: var(--border-rl);
  border-bottom-right-radius: var(--border-rl);
}

.disco-info a {
  text-decoration: none;
}

.disco-title {
  width: 100%;
  text-transform: uppercase;
  font-weight: var(--fw-normal);
  color: #f0f0f0;
  font-size: 0.9em;
}

.disco-year,
.disco-label {
  width: var(--img-circle);
  color: #b6b6b6;
  font-weight: var(--fw-thin);
  font-size: 0.875em;
}

.disco-label {
  text-align: end;
}

/*#endregion*/

/*#region [pagination]*/
/* pagination */
.pagination {
  display: flex;
  flex-direction: column;
  margin: 3em 0;
  gap: calc(var(--fs-n) + 0.5em);
  justify-content: center;
  align-items: center;
}

.pagination p {
  color: #b6b6b6;
  font-size: 0.875em;
}

.pagination ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  list-style: none;
}

.pagination ul li {
  display: flex;
  flex-basis: calc(1.75% - 0.25em);
  align-items: center;
  text-decoration: none;
  border-radius: var(--img-circle);
  text-align: center;
  color: #b6b6b6;
  background-color: transparent;
  cursor: pointer;
  width: auto;
  height: var(--fs-l);
  padding: var(--fs-n) 0.75em;
  font-size: 0.9em;
}

.pagination ul li:hover {
  color: var(--bg-green-color);
}

/*#endregion*/

/*#region [single-result]*/
/* single.html */

.single-result,
.about,
.listen {
  margin-top: 3.5em;
  padding: 0 0.5em;
}

.single-disco {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 1em 0.5em;
  background-color: #171717;
  border: 1px solid #171717;
  height: 33.5rem;
  width: 100%;
  border-radius: var(--border-rl);
  gap: calc(var(--fs-n) + 0.5em);
}

.invert-sd {
  height: auto;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 60%,
    rgba(77, 159, 255, 1) 100%
  );
  flex-direction: row;
  padding-bottom: calc(var(--fs-sl) + 0.25em);
  gap: calc(var(--fs-sl) + 0.25em);
}

.single-disco-cover {
  padding: 2em;
}

.single-disco-image {
  display: flex;
  align-items: center;
  width: 40%;
}

.single-disco-image img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  border-radius: var(--img-circle);
  filter: saturate(1.25);
}

.single-disco-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 60%;
}

.invert-sd-info {
  filter: invert(1);
  width: 65%;
}

.single-disco-info h1 {
  font-size: 2em;
  line-height: calc(var(--fs-n) + 0.25em);
  font-weight: var(--fw-normal);
  letter-spacing: -0.2px;
  color: #f0f0f0;
}

.single-disco-info p.single-year {
  font-size: 0.9em;
  letter-spacing: 0.2px;
  word-spacing: 5px;
  color: #b6b6b6;
  padding: 0 var(--border-rl);
  text-transform: uppercase;
  font-weight: var(--fw-thin);
  margin-bottom: 0;
}

.single-disco-tracklist {
  padding: calc(var(--fs-m) + 0.1em) var(--fs-sm);
  background-color: rgba(22, 24, 24, 0.3);
  border-radius: var(--border-rl);
  color: #f0f0f0;
  border: 1px solid #b6b6b688;
  height: 11.75em;
}

.single-disco-tracklist::-webkit-scrollbar {
  width: 4px;
}

.single-disco-tracklist::-webkit-scrollbar-thumb,
.single-disco-tracklist::-webkit-scrollbar-track {
  border-radius: 6px;
}
.single-disco-tracklist::-webkit-scrollbar-thumb {
  background: var(--bg-green-color);
}
.single-disco-tracklist::-webkit-scrollbar-track {
  background: #242424;
}

.invert-sd-tracklist {
  overflow: visible;
  height: auto;
  background-color: transparent;
  padding: 0.5em;
}

.single-disco-tracklist h2 {
  font-size: 1.375em;
  line-height: 1.025;
  font-weight: var(--fw-normal);
  letter-spacing: -0.2px;
  margin-bottom: 0.375em;
  color: var(--bg-green-color);
  text-align: left;
}

.single-disco-tracklist ul.disco-tracklist {
  font-size: 1.375em;
  height: 100%;
}

.single-disco-tracklist ul.disco-tracklist li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75em;
  line-height: var(--fs-sm);
  letter-spacing: -0.2px;
  padding: var(--border-rl) 0;
  border-bottom: 1px solid #b6b6b688;
}

.single-disco-tracklist ul.disco-tracklist li button,
ul.action-links li button {
  padding: var(--fs-n);
  border-radius: var(--border-rs);
  border: 1px solid #b6b6b688;
  line-height: 0;
  text-align: center;
  font-size: 0.9em;
  background-color: transparent;
  color: var(--primary-color);
  font-weight: var(--fw-thin);
  letter-spacing: 0.2px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  height: 1em;
}

.single-disco-tracklist ul.disco-tracklist li button:hover,
ul.action-links li button:hover,
ul.action-links li a:hover {
  background-color: #000000;
  color: var(--primary-color);
  border-color: var(--bg-green-color);
}

.invert-btn-play {
  color: var(--secondary-color);
}

.single-info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.single-info {
  justify-content: flex-start;
}

.single-notes {
  justify-content: flex-end;
  text-align: end;
}

.single-notes,
.single-info {
  list-style: none;
  padding: 0.5em 0.25em;
}

.single-notes li,
.single-info li {
  font-size: 0.85em;
  font-weight: var(--fw-thin);
  color: #b6b6b6;
  padding: 0.25em 0;
  border-bottom: 1px solid #b6b6b688;
  width: fit-content;
}

.action-links {
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 0.25em;
  list-style: none;
}

.compilations-versions-results {
  padding: 0 0.5em;
}

.other-versions-results h3,
.compilations-versions-results h3,
.about-contact-link {
  font-size: 0.975em;
  font-weight: var(--fw-thin);
  padding: var(--border-rl) var(--fs-n);
  text-transform: capitalize;
  color: var(--bg-green-color);
  background-color: #171717;
  border: 1px solid #171717;
  border-radius: calc(var(--fs-sm) + 0.25em);
  height: calc(var(--fs-sl) + 0.25em);
  width: fit-content;
  vertical-align: middle;
  line-height: calc(var(--fs-n) + 0.25em);
  margin-bottom: var(--fs-n);
  opacity: 0.9;
}

/*#endregion*/

/*#region [single-versions-results]*/
.versions-results {
  width: 100%;
}

.versions-results ul.versions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  gap: var(--fs-n);
}

.versions-results ul.versions-list li.disco-version {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-basis: calc(16% - var(--border-rl));
  gap: 0.75em;
  border-radius: var(--border-rl);
  border: 1px solid var(--primary-color);
  padding: var(--border-rl);
}

.disco-version-thumb {
  border-radius: var(--border-rl);
  padding: calc(var(--fs-n) + 0.025em);
  background-color: var(--primary-color);
}

.disco-version-thumb img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  filter: blur(0.5px) saturate(1.25);
  border-radius: var(--img-circle);
}

.disco-version-thumb:hover img {
  animation: rotateDisco 10.66s linear infinite;
}

.disco-version-info {
  border-top: 0.5px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.375em;
  padding: 0.75em 0.25em;
}

.disco-version-info p:first-child {
  font-size: var(--fs-n);
  line-height: 1.05em;
  font-weight: var(--fw-semi);
  letter-spacing: -0.2px;
  margin-bottom: var(--border-rl);
  color: var(--primary-color);
}

.disco-version-info p {
  font-size: 0.85em;
  line-height: calc(var(--fs-n) + 0.5em);
  font-weight: var(--fw-normal);
  color: var(--primary-color);
}

/*#endregion*/

/*#region [about]*/
.about,
.listen {
  display: flex;
  flex-direction: row;
  flex-basis: content;
  gap: var(--fs-l);
  padding: 3.675em 2.675em 4.675em 2.675em;
  border-radius: var(--border-rl);
  border: 1px solid #242424;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.listen-playlist {
  width: 55%;
  min-height: 70dvh;
  margin-right: 2em;
}

.listen-video {
  position: fixed;
  width: 45%;
  top: auto;
  right: 2.675em;
  overflow-x: hidden;
}

.play-video {
  margin: 0.25em 0;
  padding: 1em;
  border-radius: 0.5em;
  font-size: var(--fs-n);
  line-height: var(--fs-n);
  color: #f0f0f0;
  background-color: #b6b6b630;
  width: 90%;
}

.play-video button {
  font-size: 0.875em;
  line-height: 1.25em;
  color: #f0f0f0;
  background-color: transparent;
  border: none;
}

.play-video:hover button,
.listen-playlist ol li:hover {
  color: var(--bg-green-color);
  cursor: pointer;
}

.play-video::before {
  content: "►";
  padding: 0.5em 0.75em;
  border-radius: 50%;
  border: 1px solid #b6b6b6;
  font-size: 0.5em;
  color: #b6b6b6;
  margin: 0.5em 1em 0.5em -1em;
  transition: all 0.3s;
  vertical-align: middle;
}

.about p {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-n);
  line-height: 2.0675em;
  flex-shrink: 10;
  padding-right: 5.675em;
  border-right: 1px solid #242424;
  font-weight: var(--fw-thin);
  letter-spacing: 0.2px;
  text-wrap: pretty;
}

.about-features,
.listen-playlist {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 3em;
}

.about-features h4 {
  font-size: 0.9em;
  font-weight: var(--fw-thin);
  letter-spacing: -0.1px;
  padding: 0 1.05em;
  color: var(--primary-color);
}

.about ul,
.listen-playlist ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about ul {
  gap: 1.05em;
}
.listen-playlist ul {
  gap: 0.025em;
}

.listen-playlist ol li {
  margin-bottom: 0.5em;
  font-size: var(--fs-n);
  color: #f0f0f0;
}

.listen-playlist ol .remove-favorite:after {
  content: "remove";
  cursor: pointer;
  padding: 0.25em 0.5em;
  font-size: 0.725em;
  font-weight: 500;
  line-height: 1em;
  color: #b6b6b688;
  margin: 0.5em 0em 0.5em 1em;
  transition: all 0.3s;
}
.remove-favorite:hover:after {
  color: #fff;
}

.about ul li,
span.contact {
  font-size: 0.9em;
  font-weight: var(--fw-thin);
  padding: var(--border-rl) var(--fs-n);
  text-transform: capitalize;
  background-color: #171717;
  border: none;
  border-radius: calc(var(--fs-sm) + 0.25em);
  height: calc(var(--fs-sl) + 0.25em);
  width: fit-content;
  vertical-align: middle;
  line-height: calc(var(--fs-n) + 0.25em);
  color: #b6b6b688;
}

span.contact .fa {
  vertical-align: top;
  font-size: 1em;
  padding: 0.25em;
  margin: -0.1em 0.125em 0 0.25em;
  border-radius: 50%;
  background-color: var(--bg-green-color);
  color: var(--secondary-color);
}

span.contact {
  border: 1px solid #171717;
  background-color: #242424;
  margin: 1.5em 0;
}

span.contact a {
  font-weight: var(--fw-normal);
  color: #b6b6b6;
  text-decoration: none;
  text-transform: uppercase;
}

span.contact a:hover {
  color: var(--bg-green-color);
}

/*#endregion*/

/*#region [footer]*/
footer {
  display: flex;
  flex-direction: row;
  margin-top: calc(var(--fs-xl) + 1.5em);
  padding: 0.75em 0.5em;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: #171717;
  /*background-image: url('./../img/dirty-old-black-shirt.png');*/
  border: 1px solid #171717;
  border-top-left-radius: var(--border-rl);
  border-top-right-radius: var(--border-rl);
  border-bottom: none;
}

footer small {
  padding: 0.25em;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  position: sticky;
  bottom: 0;
  color: #b6b6b6;
  font-size: 0.75em;
}

footer small a {
  color: var(--primary-color);
  font-weight: var(--fw-semi);
  text-decoration: none;
  vertical-align: text-bottom;
  color: var(--primary-color);
}

footer small a:hover {
  display: inline-flex;
  background-image: url("https://i.discogs.com/8oDCCML-nPiVawh2M5r_R9RjauEHzhHaoQKrdPezH4w/rs:fill/g:sm/q:40/h:500/w:500/czM6Ly9kaXNjb2dz/LXVzZXItYXZhdGFy/cy9VLTMzNzk3MTct/MTY5MDA0MDYxMi5q/cGVn.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  height: calc(var(--fs-xl) + 1.5em);
  margin-top: -6.5em;
  color: transparent;
  border-radius: var(--border-rl);
  transition: all 0.1s ease-in-out;
}

/*#endregion*/

/*#region [responsive-mobile]*/
@media (max-width: 768px) {
  /*#region [responsive-mobile general]*/

  .header {
    padding: var(--border-rl);
    height: 3.75em;
    mix-blend-mode: normal;
    align-items: center;
  }

  .logo img {
    width: 70%;
    vertical-align: middle;
  }

  .logo {
    display: flex;
    flex-shrink: 0;
    mix-blend-mode: difference;
    width: 0;
    vertical-align: middle;
    align-self: center;
  }

  .logo h1 {
    font-size: 1.25em;
    padding-left: 5px;
  }

  .welcome-intro,
  .listen,
  .listen-playlist,
  .listen-video,
  .play-video {
    flex-direction: column;
    width: 100%;
  }

  .listen {
    padding: 0.675em 0.675em 1.675em 1.675em;
    flex-direction: column-reverse;
  }

  .listen-playlist {
    margin-right: 0 !important;
    padding-left: 0;
    width: 100% !important;
    height: auto;
  }

  .play-video::before {
    display: none;
  }

  .listen-video {
    position: initial;
    right: auto;
  }

  .hero-btn-start {
    align-self: center;
  }

  .row-for-discos {
    width: 100%;
  }

  .welcome-intro h2 {
    font-size: 4.75rem;
  }

  .welcome-intro img {
    width: 50%;
  }

  .welcome-intro h1 {
    font-size: 3.25rem;
    line-height: 2.5rem;
    padding: 0.5rem 1rem;
  }

  .welcome-intro p {
    font-size: var(--fs-n);
    line-height: var(--fs-sm);
    padding: 0.25rem 2rem;
  }

  .row-disquitos-label img:nth-child(7),
  .row-disquitos-label img:nth-child(8),
  .row-disquitos-label img:nth-child(9),
  .row-disquitos-label img:nth-child(10),
  .row-disquitos-label img:nth-child(11),
  .row-disquitos-label img:nth-child(12) {
    display: none;
  }

  main {
    padding: 1em 0.5em;
  }

  /* boxes */
  .boxes,
  #search,
  #results {
    flex-direction: column;
    padding: 1em 0.5em;
  }

  /* footer */
  footer {
    flex-direction: column-reverse;
    height: auto;
    gap: 0.25em;
    padding: var(--fs-sm) 0.75em;
  }

  footer .contact-text {
    font-size: var(--fs-sl);
  }

  .navbar {
    display: none;
    flex-grow: 1;
    height: max-content;
    padding: 0;
  }

  .navbar ul {
    flex-direction: row;
    background-color: var(--bg-green-color);
    border-radius: var(--border-rs);
    justify-content: flex-end;
    gap: 0;
  }

  .navbar ul li,
  .navbar ul li a {
    background-color: transparent;
    color: var(--secondary-color);
    border: none;
    padding: 0.25em;
    height: fit-content;
    transition: transform 150ms ease-in-out;
    font-weight: 400;
  }

  .navbar ul li:hover {
    color: #000000;
    background-color: transparent;
    border: none;
    transform: scale(1.1);
  }

  .show-menu {
    display: block;
  }

  button.hamburger-button {
    display: block;
  }

  /*#endregion*/

  /*#region [responsive-mobile hero]*/
  .hero {
    justify-content: start;
  }

  .hero-text {
    height: 20%;
  }

  .hero .hero-text h1 {
    font-size: var(--fs-m);
    padding: 0 var(--fs-m);
    font-weight: var(--fw-semi);
    line-height: var(--fs-sm);
  }

  .hero .hero-crate {
    height: 85%;
  }

  .hero .hero-crate .single-cover h2 {
    font-size: (var(--fs-n));
    line-height: var(--fs-n);
  }

  .hero .hero-crate .single-cover span {
    font-size: 0.675em;
    line-height: normal;
    padding: 0.075;
  }

  .hero .hero-crate .single-cover {
    width: 96%;
    padding: 0.75em;
  }

  .hero .hero-crate .single-cover:nth-child(2) {
    width: 90%;
  }

  .hero .hero-crate .single-cover:nth-child(3) {
    width: 84%;
  }

  .hero .hero-crate .single-cover:nth-child(4) {
    width: 78%;
  }

  /*#endregion*/

  /*#region [responsive-mobile search]*/
  .search h2 {
    font-size: 1.625em;
    line-height: var(--fs-sm);
    margin: 0px 0px var(--fs-sm) 0px;
  }

  form {
    padding: 0.5em 0.25em;
    width: 100%;
  }

  form .form-group {
    flex-direction: column;
    gap: var(--fs-l);
  }

  form input[type="text"] {
    padding: var(--border-rl);
  }

  form button,
  form select {
    width: 100%;
  }

  .disco-filters button {
    font-size: var(--fs-n);
    padding: 0.75em 1.125em;
  }

  .discos {
    flex-direction: column;
  }

  .disco img {
    padding: 2.3em;
  }

  .pagination ul {
    gap: 0.75em;
    justify-content: center;
  }

  /*#endregion*/

  /*#region [responsive-mobile single result]*/
  /* single.html */
  .single-result {
    padding: 0.25em 0.025em;
  }
  .single-disco {
    flex-direction: column;
    padding: 0.5em;
    gap: calc(var(--fs-sm) + 0.25em);
    height: auto;
    justify-content: space-between;
  }

  .invert-sd {
    flex-direction: column;
  }

  .single-disco-info h1 {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .single-disco-image {
    justify-content: flex-end;
    width: 100%;
  }

  .single-disco-image img {
    height: 100%;
  }

  .single-disco-info {
    gap: var(--fs-l);
    width: 100%;
  }

  .single-notes {
    font-size: 0.975em;
    padding: var(--border-rl) var(--fs-n);
    border-radius: var(--border-rs);
    text-align: center;
  }
  .single-disco-tracklist {
    padding: 1em 0.75em;
  }

  .versions-results ul.versions-list {
    justify-content: space-between;
  }

  .versions-results ul.versions-list li.disco-version {
    flex-basis: calc(49.75% - var(--border-rl));
  }

  /*#endregion*/

  /*#region [responsive-mobile about]*/
  .about {
    display: flex;
    flex-direction: column;
    padding: var(--fs-sm);
  }

  .about p {
    border: none;
    padding-right: 0;
  }

  span.contact {
    font-size: 1em;
    margin: 2em 0;
  }

  /*#endregion*/
}

/*#endregion*/
